@import '../../styles/colors';
@import '../../styles/media-breakpoints';
@import '../../styles/theme';

.container {
  //
}

.accountWrapper {
  display: flex;
  justify-content: center;
  height: auto !important;
  min-height: 100vh !important;
  background: $white;
  padding-top: 60px;

  & > iframe {
    height: 100% !important;
    min-height: 100vh !important;
    width: 100% !important;
    max-width: 1125px;
  }
}
