@import '../../styles/colors';
@import '../../styles/theme';
@import '../../styles/media-breakpoints';

.root {
  height: 2px;
  background-color: $punch;
  transition: width 2s;
  width: 0%;
  position: absolute;
  left: 0;
  top: 61px;
  
  @include tablet {
    top: 88px;
  }
}

.waitingBlock {
  height: 1000px;
}

