.loggedInMessage,
.wrongTokenMessage {
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}

.loggedInMessage {
  max-width: 60rem;
  padding: 1rem;
  a {
    color: #e7131c;
  }
}

.wrongTokenMessage {
  max-width: 50rem;
  margin-top: 1rem;
}

.alertDanger {
  color: #780a0f;
  background-color: #fad0d2;
  border-color: #f8bdbf;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.formWrapper {
  max-width: 500px;
  margin: 0 auto;
}
