@import '../../styles/media-breakpoints';
@import '../../styles/colors';

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.meterWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 125;
}

.paywallWrapper {
  background: $white;
  bottom: 0;
  box-shadow: 0px -2px 20px $gray;
  display: flex;
  left: 0;
  right: 0;
  z-index: 140;

  & > div {
    margin-top: auto;
  }

  &.paywallWrapperFixed {
    animation: fade-in 0.3s ease;
    position: fixed;
    max-height: calc(100vh - 5.23809523809524vw - 61px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@include tablet_and_desktop {
  .desktopAndTabletView {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .mobileView {
    position: relative;
    display: none;
  }
}

@include mobile {
  .mobileView {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .desktopAndTabletView {
    position: relative;
    display: none;
  }
}
