@import '../../styles/colors';
@import '../../styles/media-breakpoints';

.root {
  //
}

.title {
  color: $gray-2;
  font-family: 'Proxima Nova', serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.socialLinks {
  ul {
    gap: 6px;
    justify-content: flex-start;
  }

  a {
    border: 1px solid $athens-gray;
  }
}

@include mobile {
  .socialLinks {
    ul {
      border: none;
    }

    a {
      border: none;
    }
  }
}
