.list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: inline;

  & + .listItem {
    &::before {
      content: ', ';
    }

    &:last-child::before {
      content: ' & ';
    }
  }
}
