/* Use utility to get color name: https://chir.ag/projects/name-that-color */
$alto: #dadada;
$alto-2: #dedede;
$alto-3: #e0e0e0;
$athens-gray: #eff1f4;
$athens-gray-2: #f6f7f9;
$athens-gray-3: #f3f5f7;
$athens-gray-4: #f8f9fa;
$boulder: #7c7c7c;
$black: #000000;
$cod-gray: #1a1a1a;
$cod-gray1: #0b0b0b;
$concrete: #f2f2f2;
$cornflower-blue: #d0d3d9;
$dodger-blue: #1099fd;
$dusty-gray: #9b9898;
$dusty-gray-2: #a0a0a0;
$ebb: #efeaea;
$gallery: #f0f0f0;
$gray: #878787;
$gray-2: #8e8e8e;
$green-haze: #08aa52;
$gray-3: #d9d5d5;
$hint-of-red: #f9f6f6;
$hint-of-red-2: #fbf9f9;
$hurricane: #948d8d;
$melon: #fcb9b5;
$mercury: #e7e5e5;
$mercury-2: #e3e3e3;
$mercury-3: #e2e2e2;
$mercury-4: #e9e9e9;
$mine-shaft: #272727;
$mine-shaft-2: #242424;
$mine-shaft-3: #353535;
$olive-drab: #599625;
$punch: #d93831;
$purple-heart: #711fc3;
$red: #f20909;
$red-2: #f90303;
$royal-blue: #5569ed;
$seashell: #f1f1f1;
$shark: #212529;
$silver-chalice: #a7a7a7;
$silver-chalice-2: #adadad;
$silver-rust: #d0c4c4;
$silver: #b9b9b9;
$silver-2: #c8c0c0;
$sun: #fdb310;
$swiss-coffee: #d9d2d2;
$tuna: #3d3e40;
$tundora: #464646;
$wild-sand: #f5f4f4;
$white: #ffffff;
$zambezi: #5e5757;
