@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Black.ttf') format('truetype');
}

/* Italic font-style */

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/BarlowCondensed/BarlowCondensed-BlackItalic.ttf') format('truetype');
}

