@import '../../../styles/colors';
@import '../../../styles/media-breakpoints';
@import '../../../styles/theme';

.root {
  display: flex;
  flex-direction: column;

  @include mobile {
    padding: 0 16px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.title {
  color: $black;
  font-family: 'Proxima Nova', serif;
  font-size: 23px;
  font-weight: 700;
  margin: 0 0 43px;

  @include mobile {
    display: none;
  }

  @include ThemeDark {
    color: $ebb;
  }
}
