@import '../../styles/colors';
@import '../../styles/media-breakpoints';
@import '../../styles/theme';

.root {
  background: transparent;
  border: 1px solid $cornflower-blue;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0 12px;

  &:focus,
  &:focus-visible {
    border-color: $cornflower-blue;
  }

  &::placeholder {
    color: $dusty-gray;
  }

  @include ThemeDark {
    color: $ebb;
  }
}

.rounded {
  border-radius: 4px;
}

.fullWidth {
  width: 100%;
}

.medium {
  font-size: 12px;
  letter-spacing: 0.5px;
  height: 36px;
}

.large {
  font-size: 14px;
  letter-spacing: 1px;
  height: 51px;

  @include mobile_and_tablet {
    font-size: 12px;
    height: 36px;
  }
}
