@import '../../styles/colors';
@import '../../styles/media-breakpoints';
@import '../../styles/theme';

.root {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  letter-spacing: 0.5px;
  padding: 0;
}

.root:disabled {
  background-color: $athens-gray-4;
  border-color: $athens-gray-4;
  color: $mine-shaft;
  cursor: default;
}

.default {
  color: $mine-shaft;

  @include ThemeDark {
    color: $ebb;
  }
}

.primary {
  background-color: $punch;
  color: $white;
}

.secondary {
  @include ThemeDark {
    color: $ebb;
  }

  &.active {
    color: $white;
    background-color: $black;
    border-color: $black;

    @include ThemeDark {
      color: $mine-shaft;
      background-color: $ebb;
      border-color: $ebb;
    }
  }
}

.rounded {
  border-radius: 4px;
}

.bordered {
  border: 1px solid currentColor;
}

.fullWidth {
  width: 100%;
}

.icon {
  min-width: 10px;
}

.hasStartIcon {
  padding-left: 14px;
}

.hasEndIcon {
  padding-right: 14px;
}

.small {
  font-size: 12px;
  height: 30px;
  padding: 0 12px;

  &.square {
    width: 30px;
    padding: 0;
  }
}

.medium {
  font-size: 12px;
  height: 36px;
  padding: 0 20px;

  &.square {
    width: 36px;
    padding: 0;
  }
}

.large {
  font-size: 16px;
  height: 51px;
  padding: 0 48px;

  &.square {
    width: 51px;
    padding: 0;
  }

  .icon {
    min-width: 16px;
  }

  &.hasStartIcon {
    padding-left: 40px;
  }

  &.hasEndIcon {
    padding-right: 40px;
  }

  @include mobile_and_tablet {
    font-size: 12px;
    height: 36px;
    padding: 0 20px;

    &.hasStartIcon {
      padding-left: 15px;
    }

    &.hasEndIcon {
      padding-right: 15px;
    }
  }
}
