@import '../../styles/colors';

.publishingDate {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  align-items: center;
  text-transform: uppercase;
  color: $silver-chalice-2;
}
