@import '../../styles/colors';
@import '../../styles/media-breakpoints';
@import '../../styles/theme';

.dropdownWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  padding: 0;
  margin: 0;
}

.dropdownOpenButton,
.dropdownOption {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  white-space: nowrap;
}

.dropdownOpenButton {
  color: $cod-gray;
  display: flex;
  align-items: center;
  gap: 9px;
  border-bottom: 1px solid $black;
  cursor: pointer;

  @include ThemeDark {
    border-bottom-color: $ebb;
    color: $ebb;
  }
}

.dropdownOptionsGroup {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 16px 68px 16px 22px;
  background: $hint-of-red-2;
  border: 1px solid rgba($black, 0.08);
  box-sizing: border-box;

  @include ThemeDark {
    background-color: $tuna;
    border-color: rgba($black, 0.08);
  }
}

.dropdownOptionsGroupHidden {
  display: none;
}

.dropdownOptionText {
  color: $cod-gray;
  list-style-type: none;
  cursor: pointer;
  font-family: Proxima Nova, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  white-space: nowrap;

  @include ThemeDark {
    color: $ebb;
  }
}

.dropdownOptionText:hover {
  color: $punch;
}

.initialValue {
  font-family: 'Barlow Semi Condensed', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: $cod-gray;

  @include ThemeDark {
    color: $ebb;
  }
}

.angleRight {
  transform: rotate(-90deg);
}
