@import '../../styles/colors';
@import '../../styles/media-breakpoints';

.title {
    color: $gray-2;
    font-family: 'Proxima Nova', serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.test {
    display: flex;
    flex-direction: row;
}

.root {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    gap: 80px;
    border: solid $athens-gray;
    border-width: 1px 0px 1px 0px;
    margin-bottom: 25px;
    @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;
        border: 0;
        padding-left: 16px;
      }
}
